:root{
    --background-color: #2A3B49;
    --accent-teal: #7BFFE9;
    --text-light: #FFFFFF;
    --text-dark: #000000;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
  }

body{
    display: flex;
    flex-direction: column;
}

button{
  cursor: pointer;
}

/* ----------------- HEADER ----------------------- */

header{
    height: 100%;
    width: 100vw;
    margin: 0;
}

nav {
    background-color: var(--background-color);
    display: flex;
    justify-content: space-between;
    padding: 5px 5px;
    margin: 0;
    width: 100vw;
}

button {
    background: none;
    color: var(--accent-teal);
}

/* PIXIFY logo */

.logo {
  padding-left: 20px;
}

.logo a{                    
  color: var(--accent-teal);
  font-family: Montserrat;
  font-weight: 400;
  font-size: 36px;
}

#icon-container {
  display: none;
}

/* --------------- NAV BTNS ------------ */

.nav-btns {
  width: 20em;
display: flex;
justify-content: space-between;
align-items: center;
padding-right: 10px;
}

.nav-btns a{
  color: var(--text-light);
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
}

#drk{
  border: none;
}

/* ----------------- HEADER ----------------------- */

@media (max-width: 768px){
  #icon-container{
   /* set display if want hamburger menu*/
    padding: 0 20px;
    display: block;
  }

.nav-btns{
  display: none;
}

.mobile-menu{
  /*it would be cool to add the animation of the 
  nav buttons sliding down here when menu is clicked*/
  display: flex;
  position: relative;
  top: 3em;
  padding: 0 1em;
  background-color: var(--background-color);
  border-radius: 10px;
  width: 100%;
}

  #menu-icon{
    font-size: 30px;
    cursor: pointer;
    color: white;
  }

  header{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

/* ----------- MAIN ---------- */

#dynamicImgContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img{
  width: 50vw;
}

#galBtnContainer{
  background-color: pink;
  display: flex;
  align-items: center;
  text-align: center;
}