:root{
    --background-color: #2A3B49;
    --accent-teal: #7BFFE9;
    --text-light: #FFFFFF;
    --text-dark: #000000;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
  }

body{
    display: flex;
    flex-direction: column;
    
}

/* ----------------- HEADER ----------------------- */

header{
    grid-area: "nav";
    height: 100%;
}

nav {
    background-color: var(--background-color);
    display: flex;
    justify-content: space-between;
    padding: 5px 5px;
    margin: 0;
}

/* PIXIFY logo */

.logo {
  padding-left: 20px;
}

.logo a{                    
  color: var(--accent-teal);
  font-family: Montserrat;
  font-weight: 400;
  font-size: 36px;
}

/* --------------- NAV BTNS ------------ */

.nav-btns {
  width: 12%;
display: flex;
justify-content: space-around;
align-items: center;
padding-right: 10px;
}

.nav-btns a{
  color: var(--text-light);
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
}

/* ----------------- HEADER ----------------------- */

main {
    grid-area: "main";
    position: relative;
    background-image: url("/assets/homepage.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

main p{
  background-color: var(--background-color);
  color: var(--text-light);
  font-family: Montserrat;
  font-weight: 400;
  font-size: 1.5vw;
  text-align: center;
  display: flex;
  align-items: center;
  max-height: 40%;
  line-height: 36.57px;
  padding: 44px 55px;
  position: absolute;
  width: 33%;
  height: 40%;
  bottom: 5vh;
  left: 0;
  border-radius: 150px 150px 150px 0;
}

main button {
  position: absolute;
  bottom: 10vh;
  right: 5vw;
  background: none;
  border: 2px solid var(--accent-teal);
  color: var(--accent-teal);
  width: 20vw;
  padding: 20px 30px;
  border-radius: 55px;
  font-size: 36px;
  font-weight: 400;
  cursor: pointer;
}