:root{
    --background-color: #2A3B49;
    --accent-teal: #7BFFE9;
    --text-light: #FFFFFF;
    --text-dark: #000000;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
  }

body{
    display: flex;
    flex-direction: column;
    
}

button{
  cursor: pointer;
}

/* ----------------- HEADER ----------------------- */

header{
    height: 100%;
    width: 100vw;
}

nav {
    background-color: var(--background-color);
    display: flex;
    justify-content: space-between;
    padding: 5px 5px;
    margin: 0;
}

button {
    background: none;
    color: var(--accent-teal);
}

/* PIXIFY logo */

.logo {
  padding-left: 20px;
}

.logo a{                    
  color: var(--accent-teal);
  font-family: Montserrat;
  font-weight: 400;
  font-size: 36px;
}

#icon-container {
  display: none;
}

/* --------------- NAV BTNS ------------ */

.nav-btns {
  width: 20em;
display: flex;
justify-content: space-between;
align-items: center;
padding-right: 10px;
}

.nav-btns a{
  color: var(--text-light);
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
}

#drk{
  border: none;
}

/* ----------------- HEADER ----------------------- */

main #container {
    display: flex;
    margin: 10em 0;
}

/* -------- SUBMISSION DIV ------- */

#subContainer{
  display: flex;
  flex-direction: column;
}

#subContainer h1{
  text-align: center;
}

main #submissions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    align-self: center;
    border: solid lightskyblue 2px;
    margin-top: 2em;
}

.sub-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sub-div img{
  max-width: 20vw;
}

.sub-text {
    display: flex;
    justify-content: space-between;
}

.sub-text .see-more {
  display: flex;
  font-size: 10px;
  color: black;
  align-items: flex-end;
}

/* ------------ FORM ---------- */

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  background-color: var(--background-color);
  margin: 0 5em;
  padding-top: 5em;
  border-radius: 15px;

}

#form h2{
  color: white;
}

#form #top-input {
  margin-top: 20px;
}

#form input {
  margin-top: 1em;
  border-radius: 5px;
  border: none;
  padding: 5px;
}

#form button {
  background-color: none;
  border: solid 1px var(--accent-teal);
  color: var(--accent-teal);
  padding: 1em 3em;
  border-radius: 44px;
  margin-top: 1em;
}


/* -------- MOBILE STYLING! ------ */


@media (max-width: 768px){
  #icon-container{
   /* set display if want hamburger menu*/
    padding: 0 20px;
  }

  #menu-icon{
    font-size: 30px;
  cursor: pointer;
  }

  /* header{
    display: flex;
  } */

  #container{
    flex-direction: column-reverse;
  }

  #form{
    width: 70vw;
    align-self: center;
    /* what do I use to center the form in the center of the page?*/
  
  }

  #submissions{
    width: 100vw;
  }
}